fish/fishd.*
fish/fish_variables
gnupg/**/*
!gnupg/install.sh
vim/plugged/*
vim/vim-plugged/*
vim/nvim-plugged/*
vim/files/*
vim/.netrwhist
vim/**/*.spl
ssh/*
!ssh/install.sh
!ssh/config
.DS_Store
Brewfile.lock.json
jj/repos/*
jj/workspaces/*
