<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Roman-Accent-1</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>1👍 1👎</string>
		<key>Strings</key>
		<string>1👍 1👎</string>
	</dict>
	<key>Roman-Accent--</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>👎</string>
		<key>Strings</key>
		<string>👎</string>
	</dict>
	<key>Roman-Accent-+</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>👍</string>
		<key>Strings</key>
		<string>👍</string>
	</dict>
	<key>Roman-Accent-0</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>😃 😊 😁 😂 😇</string>
		<key>Strings</key>
		<string>😃 😊 😁 😂 😇</string>
	</dict>
	<key>Roman-Accent-9</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>😢 😭 😞 😟 😕</string>
		<key>Strings</key>
		<string>😢 😭 😞 😟 😕</string>
	</dict>
	<key>Roman-Accent-a</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>👏 👽 🍎 🍏</string>
		<key>Strings</key>
		<string>👏 👽 🍎 🍏</string>
	</dict>
	<key>Roman-Accent-c</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>😺 😻 😽 😿</string>
		<key>Strings</key>
		<string>😺 😻 😽 😿</string>
	</dict>
	<key>Roman-Accent-s</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>✨ 🌟 💫 💥 🔥</string>
		<key>Strings</key>
		<string>✨ 🌟 💫 💥 🔥</string>
	</dict>
	<key>Roman-Accent-p</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>💩</string>
		<key>Strings</key>
		<string>💩</string>
	</dict>
	<key>Roman-Accent-m</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>🙈 🙉 🙊</string>
		<key>Strings</key>
		<string>🙈 🙉 🙊</string>
	</dict>
	<key>UI-ABC</key>
	<string>ABC</string>
	<key>UI-Cancel</key>
	<string>Cancel</string>
	<key>UI-Confirm</key>
	<string>confirm</string>
	<key>UI-Dismiss</key>
	<string>dismiss</string>
	<key>UI-Done</key>
	<string>Done</string>
	<key>UI-EmergencyCall</key>
	<string>Emergency
Call</string>
	<key>UI-Go</key>
	<string>Go</string>
	<key>UI-HWR</key>
	<string>Handwriting</string>
	<key>UI-Join</key>
	<string>Join</string>
	<key>UI-Kana</key>
	<string>Kana</string>
	<key>UI-LanguageIndicator</key>
	<string>English</string>
	<key>UI-Next</key>
	<string>Next</string>
	<key>UI-NextCandidate</key>
	<string>next</string>
	<key>UI-Numbers</key>
	<string>123</string>
	<key>UI-NumbersSymbols</key>
	<string>.?123</string>
	<key>UI-Pause</key>
	<string>pause</string>
	<key>UI-Wait</key>
	<string>wait</string>
	<key>UI-Pinyin</key>
	<string>Pinyin</string>
	<key>UI-Redo</key>
	<string>redo</string>
	<key>UI-Return</key>
	<string>return</string>
	<key>UI-Romaji</key>
	<string>QWERTY</string>
	<key>UI-Route</key>
	<string>Route</string>
	<key>UI-Search</key>
	<string>Search</string>
	<key>UI-Send</key>
	<string>Send</string>
	<key>UI-Simplified</key>
	<string>Simplified</string>
	<key>UI-Space</key>
	<string>space</string>
	<key>UI-Standard</key>
	<string>Standard</string>
	<key>UI-Undo</key>
	<string>undo</string>
</dict>
</plist>
